body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*

font-family: 'Montserrat Alternates', sans-serif;

font-family: 'Open Sans', sans-serif;


*/


h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Dela Gothic One', cursive;
}

h2 {
    text-transform: uppercase;
    font-size: 6rem;
    text-shadow: 1px 1px 1px black;
}

p {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;

}

/* Aside*/

.div-aside {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: white;

}

.aside-nav h1 {
    font-size: 2.3rem;
}

.aside-nav {
    height: 2.5rem;
}

ul {
    list-style: none;
    display: flex;
}

ul a {
    color: black;
    margin-right: 18px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    height: 7.1rem;
}


/* Section 1 - Intro */

.section-1 {
    background-color: #0c008a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230200ff'/%3E%3Cstop offset='1' stop-color='%230c008a'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230700c5'/%3E%3Cstop offset='1' stop-color='%230c008a'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(1140 0)'%3E%3Cg %3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-194.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.48' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    min-height: 110vh;
}

.aside-spacing {
    height: 3.0rem;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2.5rem;
    margin-bottom: 5px;
}

.section1-text h2 {
    color: white;
    padding: 1.5rem;
}

.section1-text p {
    font-size: 2rem;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.section1-img img {
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 10px;
}

/* Section 2 - News Coverage */

.section-2 {
    min-height: 100vh;
    padding: 1.5rem;
}

.news-content {
    max-width: 800px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.news-content p {
    text-shadow: none;
}

/* Section 3 - My grid*/

.section-3 {
    min-height: 100vh;
    background-color: #0c008a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230200ff'/%3E%3Cstop offset='1' stop-color='%230c008a'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230700c5'/%3E%3Cstop offset='1' stop-color='%230c008a'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(1140 0)'%3E%3Cg %3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-194.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.48' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    min-height: 110vh;
    color: white;
}

.grid p {
    color: white;
}

.mygrid-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 120rem;
    padding-top: 70px;
    grid-gap: 20px;
}

.mygrid-content h2 {
    padding: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.grid h3{
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
}

/* Section 4 - Gallery */

.section-4 {
    min-height: 120vh;
    background-color: white;
    background-size:cover;
    background-position: top;
}

.mygallery-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 120rem;
    padding-top: 70px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    grid-gap: 10px;
}

.section-4 h2, p {
    padding: 1.5rem;
    color: black;
}

.grid-images {
    max-width: 100%;
    min-height: 36rem;
    min-height: 36rem;
    overflow: hidden;
}

/*section 5 - grid 2 */

.section-5 {
    margin-top: 25px;
}

/* section 6 - pricing */

.section-6 {
    min-height: 100vh;
}

.pricing-content {
    max-width: 800px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

table {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    padding: 1.5rem;

}

table caption {
    font-style: italic;
    padding: 0.5rem;
}

table td, table th {
    border: 0.1rem solid rgb(165, 165, 165);
}

table th {
    background-color: rgb(165, 165, 165);
}

.responsive-table {
    overflow: hidden;
    padding-bottom: 1.5rem;
}

/*Footer*/

.footer {
    min-height: 30px;
    background-color: rgb(189, 186, 186);
}

.footer p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0px;
}

.footer a {
    text-decoration: none;
    color: black;
}

/* Media Querie */

@media (max-width: 850px) {
  .intro-content, .grid, .grid-gallery{
      grid-template-columns: 1fr;
  }
  
  .grid-gallery {
      width: 100%;
      max-width: auto;
      max-height: auto;
  }

  .grid-gallery  img{
    width: 100%;
  }
}
